/* https://chanind.github.io/javascript/2019/09/28/avoid-100vh-on-mobile-web.html */
html, body {
  height: 100%
}

.background {
  height: 100%;
  /* height: 100vh; */
  height: -moz-available;          /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  height: fill-available;
  width: 100vw;
  padding: 10px;
}

.active-area {
  background-color: white;
  opacity: 0.8;
  padding: 5px;
  min-height: calc(100vh - 20px);
  max-height: 700px;
  min-width: min(1000px, calc(100vw - 20px));
  max-width: 1000px;
}

.active-contents {
  min-height: calc(100vh - 30px);
  max-height: 690px;
  min-width: min(980px, calc(100vw - 30px));
  max-width: 990px;
}

.active-contents.flex-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}